In [12]:
import pandas as pd

df = pd.read_csv("train.csv")

In [13]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [15]:
nan_values = df.isna().sum()
print(nan_values)

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [16]:
import numpy as np
from sklearn.impute import SimpleImputer


categorical_columns = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
continous_columns = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

for col in categorical_columns:
    df[col] = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent').fit_transform(df[[col]].values.reshape(-1,1))[:,0]

for col in continous_columns:
    df[col] = SimpleImputer(missing_values = np.nan, strategy = 'mean').fit_transform(df[[col]].values.reshape(-1,1))[:,0]

In [17]:
df["Age"] = df["Age"].astype(int)

In [18]:
print(df["HomePlanet"].unique())
print(df["Destination"].unique())

['Europa' 'Earth' 'Mars']
['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']

In [19]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [20]:
nan_values = df.isna().sum()
print(nan_values)

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

In [21]:
df['Deck'] = df['Cabin'].apply(lambda x: str(x).split('/')[0])
df['Number'] = df['Cabin'].apply(lambda x:  str(x).split('/')[1]).astype(int)
df['Side'] = df['Cabin'].apply(lambda x:  str(x).split('/')[2])

categorical_columns.append('Deck')
categorical_columns.append('Side')
continous_columns.append('Number')

In [22]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
encoder = OneHotEncoder()
category_onehot = ["HomePlanet", "Destination"]
for column in category_onehot:
    categorical = pd.DataFrame(df[column])
    transformed = encoder.fit_transform(categorical)
    transformed_df = pd.DataFrame(transformed.toarray(), columns=encoder.get_feature_names_out([column]))
    df = pd.concat([df, transformed_df], axis=1)
    df.drop(columns=[column], inplace=True)

In [23]:
categorical_columns.remove('HomePlanet')
categorical_columns.remove('Destination')

In [24]:
categorical_columns

['CryoSleep', 'Cabin', 'VIP', 'Deck', 'Side']

In [25]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

for col in continous_columns:
        df[col] = np.log1p(df[col])

In [26]:
df.head()

,PassengerId,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,Transported,Deck,Number,Side,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,0,149,3.688879,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,1,0.000000,0,0.0,1.0,0.0,0.0,0.0,1.0
1,0002_01,0,2184,3.218876,0,4.700480,2.302585,3.258097,6.309918,3.806662,...,True,5,0.000000,1,1.0,0.0,0.0,0.0,0.0,1.0
2,0003_01,0,1,4.077537,1,3.784190,8.182280,0.000000,8.812248,3.912023,...,False,0,0.000000,1,0.0,1.0,0.0,0.0,0.0,1.0
3,0003_02,0,1,3.526361,0,0.000000,7.157735,5.918894,8.110728,5.267858,...,False,0,0.000000,1,0.0,1.0,0.0,0.0,0.0,1.0
4,0004_01,0,2186,2.833213,0,5.717028,4.262680,5.023881,6.338594,1.098612,...,True,5,0.693147,1,1.0,0.0,0.0,0.0,0.0,1.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PassengerId                8693 non-null   object
 1   CryoSleep                  8693 non-null   int64
 2   Cabin                      8693 non-null   int64
 3   Age                        8693 non-null   float64
 4   VIP                        8693 non-null   int64
 5   RoomService                8693 non-null   float64
 6   FoodCourt                  8693 non-null   float64
 7   ShoppingMall               8693 non-null   float64
 8   Spa                        8693 non-null   float64
 9   VRDeck                     8693 non-null   float64
 10  Name                       8493 non-null   object
 11  Transported                8693 non-null   bool
 12  Deck                       8693 non-null   int64
 13  Number                     8693 non-null   float64
 14  Side                       8693 non-null   int64
 15  HomePlanet_Earth           8693 non-null   float64
 16  HomePlanet_Europa          8693 non-null   float64
 17  HomePlanet_Mars            8693 non-null   float64
 18  Destination_55 Cancri e    8693 non-null   float64
 19  Destination_PSO J318.5-22  8693 non-null   float64
 20  Destination_TRAPPIST-1e    8693 non-null   float64
dtypes: bool(1), float64(13), int64(5), object(2)
memory usage: 1.3+ MB

In [28]:
le2 = LabelEncoder()
le2.fit(df['Transported'])
y = le2.transform(df['Transported'])

In [29]:
cols_drop = ['PassengerId', 'Name','Transported']

df = df.drop(cols_drop, axis = 1)
X = df.values

df.head()

,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck,Number,Side,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,149,3.688879,0,0.000000,0.000000,0.000000,0.000000,0.000000,1,0.000000,0,0.0,1.0,0.0,0.0,0.0,1.0
1,0,2184,3.218876,0,4.700480,2.302585,3.258097,6.309918,3.806662,5,0.000000,1,1.0,0.0,0.0,0.0,0.0,1.0
2,0,1,4.077537,1,3.784190,8.182280,0.000000,8.812248,3.912023,0,0.000000,1,0.0,1.0,0.0,0.0,0.0,1.0
3,0,1,3.526361,0,0.000000,7.157735,5.918894,8.110728,5.267858,0,0.000000,1,0.0,1.0,0.0,0.0,0.0,1.0
4,0,2186,2.833213,0,5.717028,4.262680,5.023881,6.338594,1.098612,5,0.693147,1,1.0,0.0,0.0,0.0,0.0,1.0

In [30]:
df.shape

(8693, 18)

In [31]:
from sklearn.feature_selection import SelectKBest, chi2

selector = SelectKBest(chi2, k=15)

X_best = selector.fit_transform(df, y)

selected_features_mask = selector.get_support()

selected_features = df.columns[selected_features_mask]

print("Fitur terpilih:")
print(selected_features)

Fitur terpilih:
Index(['CryoSleep', 'Cabin', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Deck', 'Side', 'HomePlanet_Earth',
       'HomePlanet_Europa', 'Destination_55 Cancri e',
       'Destination_TRAPPIST-1e'],
      dtype='object')

In [32]:
df.head()

,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck,Number,Side,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,149,3.688879,0,0.000000,0.000000,0.000000,0.000000,0.000000,1,0.000000,0,0.0,1.0,0.0,0.0,0.0,1.0
1,0,2184,3.218876,0,4.700480,2.302585,3.258097,6.309918,3.806662,5,0.000000,1,1.0,0.0,0.0,0.0,0.0,1.0
2,0,1,4.077537,1,3.784190,8.182280,0.000000,8.812248,3.912023,0,0.000000,1,0.0,1.0,0.0,0.0,0.0,1.0
3,0,1,3.526361,0,0.000000,7.157735,5.918894,8.110728,5.267858,0,0.000000,1,0.0,1.0,0.0,0.0,0.0,1.0
4,0,2186,2.833213,0,5.717028,4.262680,5.023881,6.338594,1.098612,5,0.693147,1,1.0,0.0,0.0,0.0,0.0,1.0

In [33]:
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X_best)

In [34]:
X_scaled

array([[-0.73277002, -1.53191771,  0.6390354 , ...,  1.754795  ,
        -0.51101319,  0.65252063],
       [-0.73277002, -0.51633162,  0.00592676, ..., -0.56986714,
        -0.51101319,  0.65252063],
       [-0.73277002, -1.60577851,  1.16256909, ...,  1.754795  ,
        -0.51101319,  0.65252063],
       ...,
       [-0.73277002,  1.03125189,  0.10959553, ..., -0.56986714,
        -0.51101319,  0.65252063],
       [-0.73277002, -0.54278177,  0.37990483, ...,  1.754795  ,
         1.95689664, -1.5325186 ],
       [-0.73277002, -0.54278177,  0.7976926 , ...,  1.754795  ,
        -0.51101319,  0.65252063]])

In [35]:
from sklearn.model_selection import train_test_split
x_latih, x_uji, y_latih, y_uji = train_test_split(X_scaled,y,test_size=0.2, random_state=2)

In [37]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

param_grid = {'C': [0.1, 1, 10, 100, 1000],  
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 
              'kernel': ['rbf', 'linear', 'poly', 'sigmoid',]}  

# svm = SVC(C=100, gamma=0.01, kernel='')
svm = SVC()
grid = GridSearchCV(svm, param_grid, refit = True, verbose = 3) 
svm_results = grid.fit(x_latih, y_latih)

# print(grid.score(x_uji,y_uji))

print(svm_results.best_score_)
print(svm_results.best_params_)

Fitting 5 folds for each of 100 candidates, totalling 500 fits
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.685 total time=   3.5s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.665 total time=   3.3s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.670 total time=   3.3s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.658 total time=   3.2s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.678 total time=   3.1s
[CV 1/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.779 total time=   1.4s
[CV 2/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.759 total time=   1.4s
[CV 3/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.777 total time=   1.5s
[CV 4/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.776 total time=   1.4s
[CV 5/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.778 total time=   1.4s
[CV 1/5] END .......C=0.1, gamma=1, kernel=poly;, score=0.803 total time=  39.6s
[CV 2/5] END .......C=0.1, gamma=1, kernel=poly;, score=0.786 total time=  34.2s
[CV 3/5] END .......C=0.1, gamma=1, kernel=poly;, score=0.785 total time=  36.9s
[CV 4/5] END .......C=0.1, gamma=1, kernel=poly;, score=0.750 total time=  33.2s
[CV 5/5] END .......C=0.1, gamma=1, kernel=poly;, score=0.795 total time=  42.0s
[CV 1/5] END ....C=0.1, gamma=1, kernel=sigmoid;, score=0.566 total time=   2.5s
[CV 2/5] END ....C=0.1, gamma=1, kernel=sigmoid;, score=0.590 total time=   2.4s
[CV 3/5] END ....C=0.1, gamma=1, kernel=sigmoid;, score=0.584 total time=   2.8s
[CV 4/5] END ....C=0.1, gamma=1, kernel=sigmoid;, score=0.598 total time=   2.6s
[CV 5/5] END ....C=0.1, gamma=1, kernel=sigmoid;, score=0.608 total time=   2.9s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.784 total time=   2.0s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.761 total time=   2.0s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.779 total time=   2.0s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.774 total time=   2.0s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.786 total time=   2.3s
[CV 1/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.779 total time=   1.5s
[CV 2/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.759 total time=   1.5s
[CV 3/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.777 total time=   1.5s
[CV 4/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.776 total time=   1.5s
[CV 5/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.778 total time=   1.4s
[CV 1/5] END .....C=0.1, gamma=0.1, kernel=poly;, score=0.798 total time=   1.5s
[CV 2/5] END .....C=0.1, gamma=0.1, kernel=poly;, score=0.773 total time=   1.6s
[CV 3/5] END .....C=0.1, gamma=0.1, kernel=poly;, score=0.779 total time=   1.5s
[CV 4/5] END .....C=0.1, gamma=0.1, kernel=poly;, score=0.789 total time=   1.5s
[CV 5/5] END .....C=0.1, gamma=0.1, kernel=poly;, score=0.799 total time=   1.5s
[CV 1/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.631 total time=   3.1s
[CV 2/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.659 total time=   2.7s
[CV 3/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.643 total time=   3.1s
[CV 4/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.641 total time=   3.1s
[CV 5/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.668 total time=   3.2s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.768 total time=   2.2s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.738 total time=   2.1s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.762 total time=   2.2s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.758 total time=   2.1s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.768 total time=   2.1s
[CV 1/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.779 total time=   1.4s
[CV 2/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.759 total time=   1.4s
[CV 3/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.777 total time=   1.4s
[CV 4/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.776 total time=   1.4s
[CV 5/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.778 total time=   1.5s
[CV 1/5] END ....C=0.1, gamma=0.01, kernel=poly;, score=0.502 total time=   2.4s
[CV 2/5] END ....C=0.1, gamma=0.01, kernel=poly;, score=0.502 total time=   2.5s
[CV 3/5] END ....C=0.1, gamma=0.01, kernel=poly;, score=0.501 total time=   2.5s
[CV 4/5] END ....C=0.1, gamma=0.01, kernel=poly;, score=0.501 total time=   2.5s
[CV 5/5] END ....C=0.1, gamma=0.01, kernel=poly;, score=0.501 total time=   2.5s
[CV 1/5] END .C=0.1, gamma=0.01, kernel=sigmoid;, score=0.757 total time=   2.6s
[CV 2/5] END .C=0.1, gamma=0.01, kernel=sigmoid;, score=0.732 total time=   2.6s
[CV 3/5] END .C=0.1, gamma=0.01, kernel=sigmoid;, score=0.756 total time=   2.6s
[CV 4/5] END .C=0.1, gamma=0.01, kernel=sigmoid;, score=0.751 total time=   2.6s
[CV 5/5] END .C=0.1, gamma=0.01, kernel=sigmoid;, score=0.761 total time=   2.7s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.743 total time=   3.0s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.718 total time=   3.0s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.745 total time=   3.1s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.742 total time=   3.0s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.750 total time=   3.1s
[CV 1/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.779 total time=   1.5s
[CV 2/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.759 total time=   1.5s
[CV 3/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.777 total time=   1.5s
[CV 4/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.776 total time=   1.5s
[CV 5/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.778 total time=   1.5s
[CV 1/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.502 total time=   2.4s
[CV 2/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.502 total time=   2.4s
[CV 3/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.501 total time=   2.5s
[CV 4/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.501 total time=   2.5s
[CV 5/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.501 total time=   2.5s
[CV 1/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.746 total time=   3.9s
[CV 2/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.717 total time=   4.2s
[CV 3/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.744 total time=   4.2s
[CV 4/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.746 total time=   4.0s
[CV 5/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.752 total time=   4.1s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.502 total time=   3.7s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.502 total time=   3.6s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.501 total time=   3.8s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.501 total time=   3.7s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.501 total time=   3.8s
[CV 1/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.779 total time=   1.5s
[CV 2/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.759 total time=   1.4s
[CV 3/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.777 total time=   1.5s
[CV 4/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.776 total time=   1.5s
[CV 5/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.778 total time=   1.5s
[CV 1/5] END ..C=0.1, gamma=0.0001, kernel=poly;, score=0.502 total time=   2.5s
[CV 2/5] END ..C=0.1, gamma=0.0001, kernel=poly;, score=0.502 total time=   2.5s
[CV 3/5] END ..C=0.1, gamma=0.0001, kernel=poly;, score=0.501 total time=   2.5s
[CV 4/5] END ..C=0.1, gamma=0.0001, kernel=poly;, score=0.501 total time=   2.5s
[CV 5/5] END ..C=0.1, gamma=0.0001, kernel=poly;, score=0.501 total time=   2.5s
[CV 1/5] END C=0.1, gamma=0.0001, kernel=sigmoid;, score=0.502 total time=   4.1s
[CV 2/5] END C=0.1, gamma=0.0001, kernel=sigmoid;, score=0.502 total time=   4.2s
[CV 3/5] END C=0.1, gamma=0.0001, kernel=sigmoid;, score=0.501 total time=   4.2s
[CV 4/5] END C=0.1, gamma=0.0001, kernel=sigmoid;, score=0.501 total time=   4.2s
[CV 5/5] END C=0.1, gamma=0.0001, kernel=sigmoid;, score=0.501 total time=   4.1s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.766 total time=   3.3s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.763 total time=   3.3s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.767 total time=   3.3s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.743 total time=   3.3s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.791 total time=   3.3s
[CV 1/5] END .......C=1, gamma=1, kernel=linear;, score=0.779 total time=   2.4s
[CV 2/5] END .......C=1, gamma=1, kernel=linear;, score=0.758 total time=   2.6s
[CV 3/5] END .......C=1, gamma=1, kernel=linear;, score=0.776 total time=   2.4s
[CV 4/5] END .......C=1, gamma=1, kernel=linear;, score=0.777 total time=   2.3s
[CV 5/5] END .......C=1, gamma=1, kernel=linear;, score=0.778 total time=   2.4s
[CV 1/5] END .........C=1, gamma=1, kernel=poly;, score=0.804 total time= 7.4min
[CV 2/5] END .........C=1, gamma=1, kernel=poly;, score=0.786 total time= 7.7min
[CV 3/5] END .........C=1, gamma=1, kernel=poly;, score=0.781 total time= 6.8min
[CV 4/5] END .........C=1, gamma=1, kernel=poly;, score=0.760 total time= 6.9min
[CV 5/5] END .........C=1, gamma=1, kernel=poly;, score=0.786 total time= 7.9min
[CV 1/5] END ......C=1, gamma=1, kernel=sigmoid;, score=0.568 total time=   2.4s
[CV 2/5] END ......C=1, gamma=1, kernel=sigmoid;, score=0.589 total time=   2.4s
[CV 3/5] END ......C=1, gamma=1, kernel=sigmoid;, score=0.584 total time=   2.8s
[CV 4/5] END ......C=1, gamma=1, kernel=sigmoid;, score=0.597 total time=   2.5s
[CV 5/5] END ......C=1, gamma=1, kernel=sigmoid;, score=0.604 total time=   2.9s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.804 total time=   2.0s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.784 total time=   2.0s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.787 total time=   2.0s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.781 total time=   2.0s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.806 total time=   2.1s
[CV 1/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.779 total time=   2.4s
[CV 2/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.758 total time=   2.5s
[CV 3/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.776 total time=   2.4s
[CV 4/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.777 total time=   2.4s
[CV 5/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.778 total time=   2.4s
[CV 1/5] END .......C=1, gamma=0.1, kernel=poly;, score=0.804 total time=   2.0s
[CV 2/5] END .......C=1, gamma=0.1, kernel=poly;, score=0.786 total time=   2.0s
[CV 3/5] END .......C=1, gamma=0.1, kernel=poly;, score=0.784 total time=   1.9s
[CV 4/5] END .......C=1, gamma=0.1, kernel=poly;, score=0.779 total time=   1.8s
[CV 5/5] END .......C=1, gamma=0.1, kernel=poly;, score=0.806 total time=   2.0s
[CV 1/5] END ....C=1, gamma=0.1, kernel=sigmoid;, score=0.621 total time=   2.9s
[CV 2/5] END ....C=1, gamma=0.1, kernel=sigmoid;, score=0.597 total time=   2.9s
[CV 3/5] END ....C=1, gamma=0.1, kernel=sigmoid;, score=0.630 total time=   2.9s
[CV 4/5] END ....C=1, gamma=0.1, kernel=sigmoid;, score=0.644 total time=   2.9s
[CV 5/5] END ....C=1, gamma=0.1, kernel=sigmoid;, score=0.654 total time=   3.1s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.786 total time=   2.0s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.762 total time=   1.9s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.779 total time=   1.9s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.782 total time=   1.9s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.784 total time=   2.3s
[CV 1/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.779 total time=   2.4s
[CV 2/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.758 total time=   2.5s
[CV 3/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.776 total time=   2.4s
[CV 4/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.777 total time=   2.4s
[CV 5/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.778 total time=   2.4s
[CV 1/5] END ......C=1, gamma=0.01, kernel=poly;, score=0.648 total time=   2.2s
[CV 2/5] END ......C=1, gamma=0.01, kernel=poly;, score=0.653 total time=   2.3s
[CV 3/5] END ......C=1, gamma=0.01, kernel=poly;, score=0.654 total time=   2.3s
[CV 4/5] END ......C=1, gamma=0.01, kernel=poly;, score=0.633 total time=   2.3s
[CV 5/5] END ......C=1, gamma=0.01, kernel=poly;, score=0.674 total time=   2.3s
[CV 1/5] END ...C=1, gamma=0.01, kernel=sigmoid;, score=0.777 total time=   2.3s
[CV 2/5] END ...C=1, gamma=0.01, kernel=sigmoid;, score=0.758 total time=   2.3s
[CV 3/5] END ...C=1, gamma=0.01, kernel=sigmoid;, score=0.773 total time=   2.3s
[CV 4/5] END ...C=1, gamma=0.01, kernel=sigmoid;, score=0.776 total time=   2.3s
[CV 5/5] END ...C=1, gamma=0.01, kernel=sigmoid;, score=0.772 total time=   2.3s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.773 total time=   2.1s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.743 total time=   2.1s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.766 total time=   2.1s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.761 total time=   2.0s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.772 total time=   2.1s
[CV 1/5] END ...C=1, gamma=0.001, kernel=linear;, score=0.779 total time=   2.4s
[CV 2/5] END ...C=1, gamma=0.001, kernel=linear;, score=0.758 total time=   2.5s
[CV 3/5] END ...C=1, gamma=0.001, kernel=linear;, score=0.776 total time=   2.5s
[CV 4/5] END ...C=1, gamma=0.001, kernel=linear;, score=0.777 total time=   2.4s
[CV 5/5] END ...C=1, gamma=0.001, kernel=linear;, score=0.778 total time=   2.5s
[CV 1/5] END .....C=1, gamma=0.001, kernel=poly;, score=0.502 total time=   2.4s
[CV 2/5] END .....C=1, gamma=0.001, kernel=poly;, score=0.502 total time=   2.5s
[CV 3/5] END .....C=1, gamma=0.001, kernel=poly;, score=0.501 total time=   2.5s
[CV 4/5] END .....C=1, gamma=0.001, kernel=poly;, score=0.501 total time=   2.5s
[CV 5/5] END .....C=1, gamma=0.001, kernel=poly;, score=0.501 total time=   2.5s
[CV 1/5] END ..C=1, gamma=0.001, kernel=sigmoid;, score=0.757 total time=   2.6s
[CV 2/5] END ..C=1, gamma=0.001, kernel=sigmoid;, score=0.732 total time=   2.6s
[CV 3/5] END ..C=1, gamma=0.001, kernel=sigmoid;, score=0.756 total time=   2.5s
[CV 4/5] END ..C=1, gamma=0.001, kernel=sigmoid;, score=0.751 total time=   2.5s
[CV 5/5] END ..C=1, gamma=0.001, kernel=sigmoid;, score=0.761 total time=   2.5s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.743 total time=   2.9s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.719 total time=   2.9s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.745 total time=   3.0s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.743 total time=   3.1s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.750 total time=   3.0s
[CV 1/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.779 total time=   2.4s
[CV 2/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.758 total time=   2.5s
[CV 3/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.776 total time=   2.3s
[CV 4/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.777 total time=   2.4s
[CV 5/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.778 total time=   2.5s
[CV 1/5] END ....C=1, gamma=0.0001, kernel=poly;, score=0.502 total time=   2.5s
[CV 2/5] END ....C=1, gamma=0.0001, kernel=poly;, score=0.502 total time=   2.4s
[CV 3/5] END ....C=1, gamma=0.0001, kernel=poly;, score=0.501 total time=   2.4s
[CV 4/5] END ....C=1, gamma=0.0001, kernel=poly;, score=0.501 total time=   2.4s
[CV 5/5] END ....C=1, gamma=0.0001, kernel=poly;, score=0.501 total time=   2.4s
[CV 1/5] END .C=1, gamma=0.0001, kernel=sigmoid;, score=0.746 total time=   4.0s
[CV 2/5] END .C=1, gamma=0.0001, kernel=sigmoid;, score=0.717 total time=   3.9s
[CV 3/5] END .C=1, gamma=0.0001, kernel=sigmoid;, score=0.744 total time=   4.0s
[CV 4/5] END .C=1, gamma=0.0001, kernel=sigmoid;, score=0.746 total time=   4.0s
[CV 5/5] END .C=1, gamma=0.0001, kernel=sigmoid;, score=0.752 total time=   4.0s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.749 total time=   4.7s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.756 total time=   4.7s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.737 total time=   5.1s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.729 total time=   4.4s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.763 total time=   4.2s
[CV 1/5] END ......C=10, gamma=1, kernel=linear;, score=0.779 total time=   6.2s
[CV 2/5] END ......C=10, gamma=1, kernel=linear;, score=0.757 total time=   6.6s
[CV 3/5] END ......C=10, gamma=1, kernel=linear;, score=0.776 total time=   6.6s
[CV 4/5] END ......C=10, gamma=1, kernel=linear;, score=0.779 total time=   6.7s
[CV 5/5] END ......C=10, gamma=1, kernel=linear;, score=0.778 total time=   6.6s
[CV 1/5] END ........C=10, gamma=1, kernel=poly;, score=0.800 total time=72.6min
[CV 2/5] END .......C=10, gamma=1, kernel=poly;, score=0.773 total time=123.2min
[CV 3/5] END ........C=10, gamma=1, kernel=poly;, score=0.779 total time=82.4min
[CV 4/5] END ........C=10, gamma=1, kernel=poly;, score=0.759 total time=87.6min
[CV 5/5] END .......C=10, gamma=1, kernel=poly;, score=0.782 total time=447.8min
[CV 1/5] END .....C=10, gamma=1, kernel=sigmoid;, score=0.617 total time=   3.1s
[CV 2/5] END .....C=10, gamma=1, kernel=sigmoid;, score=0.587 total time=   2.2s
[CV 3/5] END .....C=10, gamma=1, kernel=sigmoid;, score=0.575 total time=   2.4s
[CV 4/5] END .....C=10, gamma=1, kernel=sigmoid;, score=0.598 total time=   2.3s
[CV 5/5] END .....C=10, gamma=1, kernel=sigmoid;, score=0.605 total time=   2.7s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.807 total time=   2.5s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.792 total time=   2.5s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.784 total time=   2.8s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.759 total time=   2.7s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.806 total time=   2.3s
[CV 1/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.779 total time=   5.9s
[CV 2/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.757 total time=   6.1s
[CV 3/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.776 total time=   6.7s
[CV 4/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.779 total time=   6.1s
[CV 5/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.778 total time=   5.9s
[CV 1/5] END ......C=10, gamma=0.1, kernel=poly;, score=0.807 total time=   4.1s
[CV 2/5] END ......C=10, gamma=0.1, kernel=poly;, score=0.787 total time=   3.9s
[CV 3/5] END ......C=10, gamma=0.1, kernel=poly;, score=0.784 total time=   4.7s
[CV 4/5] END ......C=10, gamma=0.1, kernel=poly;, score=0.766 total time=   4.0s
[CV 5/5] END ......C=10, gamma=0.1, kernel=poly;, score=0.803 total time=   4.1s
[CV 1/5] END ...C=10, gamma=0.1, kernel=sigmoid;, score=0.636 total time=   2.3s
[CV 2/5] END ...C=10, gamma=0.1, kernel=sigmoid;, score=0.596 total time=   2.3s
[CV 3/5] END ...C=10, gamma=0.1, kernel=sigmoid;, score=0.648 total time=   2.2s
[CV 4/5] END ...C=10, gamma=0.1, kernel=sigmoid;, score=0.630 total time=   2.4s
[CV 5/5] END ...C=10, gamma=0.1, kernel=sigmoid;, score=0.652 total time=   2.4s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.795 total time=   1.8s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.778 total time=   1.8s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.785 total time=   2.0s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.789 total time=   1.8s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.799 total time=   1.8s
[CV 1/5] END ...C=10, gamma=0.01, kernel=linear;, score=0.779 total time=   5.7s

In [1352]:
# classifier = KNeighborsClassifier(n_neighbors = 25, weights = 'uniform', metric = 'manhattan')
# classifier.fit(X, y)

In [1353]:
df_test = pd.read_csv("test.csv")

In [1354]:
categorical_columns_test = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
continous_columns_test = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

for col in categorical_columns_test:
    df_test[col] = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent').fit_transform(df_test[[col]].values.reshape(-1,1))[:,0]

for col in continous_columns_test:
    df_test[col] = SimpleImputer(missing_values = np.nan, strategy = 'mean').fit_transform(df_test[[col]].values.reshape(-1,1))[:,0]

In [1355]:
df_test["Age"] = df_test["Age"].astype(int)

In [1356]:
df_test['Deck'] = df_test['Cabin'].apply(lambda x: str(x).split('/')[0])
df_test['Number'] = df_test['Cabin'].apply(lambda x: str(x).split('/')[1]).astype(int)
df_test['Side'] = df_test['Cabin'].apply(lambda x: str(x).split('/')[2])

categorical_columns_test.append('Deck')
categorical_columns_test.append('Side')
continous_columns_test.append('Number')

In [1357]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
encoder = OneHotEncoder()

category_onehot_test = ['HomePlanet',"Destination"]

for column in category_onehot_test:
    categorical = pd.DataFrame(df_test[column])
    transformed = encoder.fit_transform(categorical)
    transformed_df = pd.DataFrame(transformed.toarray(), columns=encoder.get_feature_names_out([column]))
    df_test = pd.concat([df_test, transformed_df], axis=1)
    df_test.drop(columns=[column], inplace=True)

In [1358]:
categorical_columns_test.remove("HomePlanet")
categorical_columns_test.remove("Destination")

categorical_columns_test

['CryoSleep', 'Cabin', 'VIP', 'Deck', 'Side']

In [1359]:
for col in categorical_columns_test:
    df_test[col] = le.fit_transform(df_test[col])

for col in continous_columns_test:
        df_test[col] = np.log1p(df_test[col])

In [1360]:
# cols_drop_test = ['PassengerId', 'Cabin', 'Name']
# df_test = df_test.drop(cols_drop_test, axis = 1)

passengerId = df_test['PassengerId']
df_test = df_test.drop(columns=["PassengerId" ,"Name",])
df_test = df_test[selected_features]

In [1361]:
df_test.head()

,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck,Number,Side,HomePlanet_Earth,HomePlanet_Europa,Destination_55 Cancri e,Destination_TRAPPIST-1e
0,1,2784,3.332205,0,0.000000,0.000000,0.000000,0.000000,0.00000,6,1.386294,1,1.0,0.0,0.0,1.0
1,0,1867,2.995732,0,0.000000,2.302585,0.000000,7.945910,0.00000,5,1.609438,1,1.0,0.0,0.0,1.0
2,1,257,3.465736,0,0.000000,0.000000,0.000000,0.000000,0.00000,2,0.000000,1,0.0,1.0,1.0,0.0
3,0,259,3.663562,0,0.000000,8.802823,0.000000,5.204007,6.37332,2,0.693147,1,0.0,1.0,0.0,1.0
4,0,1940,3.044522,0,2.397895,0.000000,6.455199,0.000000,0.00000,5,1.791759,1,1.0,0.0,0.0,1.0

In [1362]:
df_test_scaled = scaler.fit_transform(df_test)

In [1363]:
y_pred = svm.predict(df_test_scaled)

In [1364]:
hasil = pd.Series(y_pred)

In [1365]:
hasil = pd.concat([passengerId, hasil], axis=1)

In [1366]:
hasil.head()

  PassengerId  0
0     0013_01  1
1     0018_01  0
2     0019_01  1
3     0021_01  1
4     0023_01  1

In [1367]:
hasil.rename(columns = {0:'Transported'}, inplace=True)

In [1368]:
hasil["Transported"] = hasil["Transported"].replace({1:True, 0:False})

/tmp/ipykernel_53403/270940377.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hasil["Transported"] = hasil["Transported"].replace({1:True, 0:False})

In [1369]:
hasil.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [1370]:
hasil.to_csv('submission_svm15.csv', index=False)